@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans Hebrew', sans-serif;
}

.blue-gradient {
  background: linear-gradient(180deg, #6ed7f8 0%, #6ef8e7 100%);
}
.green-gradient {
  background: linear-gradient(180deg, #00f5a0 0%, #00d9f5 100%);
}
.yellow-gradient {
  background: linear-gradient(180deg, #fff740 0%, #ff92ac 163.12%);
}
.orange-gradient {
  background: linear-gradient(180deg, #f86e6e 0%, #f8c96e 100%);
}

.ResourceDoctorSummary-resources .ResourceAiSummary {
  display: none;
}
.ResourceDoctorSummary-resources .resourceAiSummaryEditButton {
  pointer-events: none;
}

.ResourceDoctorSummary-dropList .ResourceAiSummary {
  padding: 0px;
}
.ResourceDoctorSummary-dropList .blockquote {
  padding: 0px;
}

.ResourceDoctorSummary-dropList .media-onlySummary {
  display: none;
}
