@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans Hebrew', sans-serif;
}

.blue-gradient {
  background: linear-gradient(180deg, #6ed7f8 0%, #6ef8e7 100%);
}
.gray-gradient {
  background: linear-gradient(180deg, #e5e5e5 0%, #f0f0f0 100%);
}
.yellow-gradient {
  background: linear-gradient(180deg, #fff740 0%, #ff92ac 163.12%);
}
.orange-gradient {
  background: linear-gradient(180deg, #f86e6e 0%, #f8c96e 100%);
}
